{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Blog</h1>
            <span class="subheading">This is what this blog is all about</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to our blog! We are dedicated to providing a platform where readers can explore a variety of engaging and informative posts. Our mission is to connect you with content that resonates, inspires, and informs, covering a wide range of topics that cater to your interests.</p>

        <p>Our team of passionate writers and contributors work tirelessly to bring you high-quality articles that delve into different subjects, from lifestyle and technology to health and travel. We believe that knowledge is best shared, and our goal is to create a community where readers can find valuable insights and share their thoughts.</p>
        
        <p>Whether you’re looking for tips on personal development, the latest trends, or in-depth analyses of current events, we have something for everyone. Join us on this journey of discovery, and feel free to engage with our posts by leaving comments or sharing your own experiences. Thank you for being a part of our growing community!</p>                           
    </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
  